* {
    box-sizing:border-box
}
html,body {
    margin:0;padding:0;font-size:16px;font-family:'Poppins',sans-serif;color:#222;background:#fff;
}
img {
    max-width:100%;height:auto;display:block; border-radius: 24px;
}

a {
    text-decoration:none;color:inherit;
}

.container {
    max-width:1280px;margin:0 auto;padding:0 20px;
}

/* Header / Nav */
.header {
    padding:20px 0;background:#fff;position:relative;
}

.header__wrapper {
    display:flex;align-items:center;justify-content:space-between;gap:20px;
}

.nav__brand {
    color:#222;font-size:1.25rem;font-weight:700;
}


.nav__list {
    display:flex;align-items:center;gap:25px;margin:0;padding:0;list-style:none;
}

.nav__item {
    list-style:none;
}
.nav__link {
    color:#222;transition:opacity .3s;
}
.nav__link:hover {
    opacity:.8;
}

.btn {
    display:inline-block;margin-top:15px;padding:10px 20px;border:none;border-radius:50px;cursor:pointer;transition:.3s
}

.btn--primary {
    background:#fff;color: #000;;
}

.btn--secondary {
    background:#222;color:#fff;
}

.btn:hover{transform:translateY(-2px)}

section {
    padding:90px 0;
}

.hero {
    background-image:url(./images/hero.png); background-position:center; background-size:cover; background-repeat:no-repeat; padding:70px 0; color:#fff;
}
.hero__title,.hero__description {
    color:#fff;
}


h1,h2,h3 {
    margin-top:0;margin-bottom:20px;
}


.info__list, .audience__list{
    margin:0; padding:0; list-style:none; display:grid; grid-template-columns:repeat(4,1fr); gap:20px;
}

@media (max-width:767px){
    .info__list, .audience__list{grid-template-columns:1fr;gap:12px}
}

.venues__item, .info__item, .audience__item, article {
    padding:20px; border:1px solid #ddd ; border-radius:12px;
}
.venues__item-title {
    margin:0 0 10px;
}

.about, .audience {
    background-color: #f7f7f7;
}


.footer{
    background:#222;color:#fff;text-align:center;padding:25px 0;
}
.footer__text {
    margin:0;
}

.hero__title{
    font-size:2rem;
}
.about__title,.info__title,.venues__title,.audience__title{
    font-size:1.5rem;
}

.about__wrapper {
    display:flex;align-items:center;gap:40px;
}
.about__content, .about__photo {
    flex:1;
}

.hero__description,.about__text{
    max-width:700px;margin-bottom:30px;
}

